body {
  background: #222;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  -webkit-background-clip: text;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
  color: transparent;
  -webkit-background-clip: text;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
  color: transparent;
  -webkit-background-clip: text;
}

hr {
  width: 80%;
  border : 0;
  height: 3px;
  background-image: linear-gradient(to left, #553c9a, #ee4b2b, #553c9a);
}

p {
  font-size: 20px;
  font-weight: 200;
  background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
  color: transparent;
  -webkit-background-clip: text;
}

ul {
  font-size: 20px;
  font-weight: 200;
  background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
  color: transparent;
  -webkit-background-clip: text;
  list-style-type: square;
}

.container {
    text-align: center;
}

.container-for-single-item {
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to right, #553c9a, #ee4b2b, #553c9a) 1;
  background: #222;
  width: 40%;
  height: 120px;
  margin: 25px auto;
  display: block;
  cursor: pointer;
}

.button {
  background: radial-gradient(ellipse, #553c9a, #ee4b2b);
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #E0FFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  word-break: break-word;
  border: 0;
  margin: 10px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}